* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.back {
  background-image: url("img/main.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content h1 {
  font-size: 200px;
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
  text-shadow: 0 0 30px royalblue;
  filter: brightness(2);
}
ul {
  list-style: none;
}
ul li {
  float: left;
  margin: 10px;
  padding: 15px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: helvetica;
  transition: 0.3s;
}
ul li a {
  text-decoration: none;
  display: block;
  font-weight: 100;
}
ul li:hover a {
  font-weight: 500;
}
ul li:nth-child(1) {
  border: 2px solid white;
  background-color: white;
  color: black;
}
ul li:nth-child(1):hover {
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
  transform: scale(1.1);
}
ul li:nth-child(2) {
  border: 2px solid transparent;
  background-color: black;
  color: white;
}
ul li:nth-child(2):hover {
  border: 2px solid white;
  background-color: transparent;
  letter-spacing: 2px;
  transform: scale(1.1);
}
.info {
  border: none;
  background-color: black;
  color: #ffffff;
  font-family: helvetica;
  font-weight: 200;
  padding: 20px;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.info:hover {
  color: black;
  font-weight: 700;
  letter-spacing: 5px;
  background-color: white;
  transition: all 0.3s ease 0s;
}
.modal {
  background-color: white;
  border: none;
  box-shadow: 0 20px 40px 5px black;
  padding: 3%;
  text-align: center;
  font-size: 20px;
}
.dialog {
  width: 60vw;
  margin: 0 auto;
}
#shadow {
  position: absolute;
  z-index: 10;
}
/* Login Page CSS */
.left {
  background-image: url("img/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70vw;
  height: 100vh;
}
.right {
  width: 30vw;
  height: 100vh;
  display: grid;
}
.form {
  max-height: 90vh;
}
#icon {
  font-size: 150px;
}
.input {
  width: 20vw;
}
/* Sign Up CSS*/
.container {
  background-image: url("img/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.signup {
  width: 50vw;
}
.step {
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
}
#profile {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  background-color: royalblue;
}
/* Dashboard CSS */
.drawer {
  width: 25vw;
  overflow: hidden;
}
#avatar {
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: royalblue;
}
.background {
  height: 100vh;
  position: absolute;
  z-index: 100;
  text-align: center;
}
.display {
  height: auto;
  width: 60vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5%;
}
#title {
  font-size: 30px;
  font-family: "Pacifico", cursive;
}
#table {
  width: 60%;
  text-align: center;
  margin: 2% auto;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 27vh;
  -ms-overflow-style: none;
}
#table::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
}
th {
  padding: 2%;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  backdrop-filter: blur(100px);
}
td {
  padding: 2%;
  font-size: 18px;
  font-family: cursive;
}
/* Media Queries */
@media screen and (max-width: 1500px) {
  .content h1 {
    font-size: 180px;
  }
}
@media screen and (max-width: 1200px) {
  .left {
    display: none;
  }
  .dialog {
    width: 80vw;
  }
  .right {
    width: 100vw;
    background-image: url("img/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .input {
    width: 60vw;
  }
  .signup {
    width: 80vw;
  }
  .form {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
  }
  .drawer {
    width: 40vw;
  }
  #title {
    font-size: 25px;
  }
  #table {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .content h1 {
    font-size: 160px;
  }
  #icon {
    font-size: 130px;
  }
  .signup {
    width: 100vw;
  }
  .display {
    font-size: 14px;
    width: 100vw;
  }
  .drawer {
    width: 70vw;
  }

  #head {
    font-size: 18px;
  }
  #data {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 100px;
  }
  .modal {
    font-size: 14px;
  }
  .display {
    font-size: 12px;
  }
  .dialog {
    width: 100vw;
  }
}
